{% extends 'base.html' %}

{% block title %}Список избранных вакансий{% endblock %}

{% block content %}
    {% for favorite in favorite_vacancy %}
        <h3 class="font-weight-light" style="font-weight: 350;">
            <a href="{{ favorite.vacancy.url }}">
                {{ favorite.vacancy.title }}
            </a>
        </h3>

        <div class="text-muted fst-italic mb-2">
            <h6>Опубликовано {{ favorite.vacancy.created }} от {{ favorite.vacancy.company }}</h6>
        </div>
        <div class="mb-5">{{ favorite.vacancy.skills }}</div>
    {% endfor %}
    {% include "pagination.html" with page=page_obj %}
{% endblock %}
