{% extends 'base.html' %}

{% block title %}Список вакансий {% endblock %}

{% block content %}
    {% for vacanci in vacancies %}
        <h3 class="font-weight-light" style="font-weight: 350;">
            <a href="{{ vacanci.url }}">
                {{ vacanci.title }}
            </a>
        </h3>

        <div class="text-muted fst-italic mb-2">
            <h6>Опубликованно {{ vacanci.created }} от {{ vacanci.company }}</h6>
        </div>
        <form action="{% url 'save_vacancy' vacanci.id %}" method="post">
            {% csrf_token %}
           {% if vacanci.id in favorite_vacancies %}
            <button type="submit" class="btn btn-secondary" disabled>Вакансия в избранном</button>
        {% else %}
            <button type="submit" class="btn btn-primary">Сохранить в избранное</button>
        {% endif %}
        </form>
        <div  class="mb-5">{{ vacanci.skills}}</div>
    {% endfor %}
    {% include "pagination.html" with page=page_obj %}
{% endblock %}